@model KnowIt.Models.Physician.PhysicianDetail

@{
    ViewBag.Title = "Delete";
}

<div class="panel transparent">
    <div class="tablespace">
        <h2>Delete</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">
                <dt>
                    First Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhysicianFirstName)
                </dd>

                <dt>
                    Last Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhysicianLastName)
                </dd>

                <dt>
                    Specialty:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Specialty)
                </dd>

            </dl>
        </div>
    </div>
</div>
