@model KnowIt.Models.Procedure.ProcedureDetail

@{
    ViewBag.Title = "Delete";
}

<div class="panel transparent">
    <div class="tablespace">
        <h2>Procedure Details</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">
                <dt>
                    Procedure Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureName)
                </dd>
                <br />
                <dt>
                    Procedure Note:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureNote)
                </dd>
                <br />
                <dt>
                    Procedure Route:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureRoute)
                </dd>
            </dl>
        </div>

    </div>
</div>
