@model KnowIt.Models.Procedure.ProcedureDetail

@{
    ViewBag.Title = "Details";
}

<div class="panel transparent">
    <div class="tablespace">
        <h2>Procedure Detail</h2>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProcedureId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">
                <dt>
                    Procedure Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureName)
                </dd>
                <br />
                <dt>
                    Procedure Note:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureNote)
                </dd>
                <br />
                <dt>
                    Procedure Route:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProcedureRoute)
                </dd>

            </dl>
        </div>
    </div>
</div>
