@model IEnumerable<KnowIt.Models.Procedure.ProcedureListItem>

@{
    ViewBag.Title = "Index";
}

<div class="panel panelsize">
    <div class="tablespace">
        <h2>Procedure Library</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <hr />
        <table class="table table-responsive table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcedureId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcedureName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcedureNote)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcedureRoute)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureNote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureRoute)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProcedureId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProcedureId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProcedureId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>