<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title KnowIt</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/fontawesome/fontawesome.css")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="container">
        <div class="container col-md-4 navbar transparent" style="border-radius: 5px">
            <div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigate &raquo;</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KnowIT &raquo;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@Html.ActionLink("Physician", "Index", "Physician")</a></li>
                                    <li><a href="#">@Html.ActionLink("Procedure", "Index", "Procedure")</a></li>
                                    <li><a href="#">@Html.ActionLink("Medication", "Index", "Medication")</a></li>
                                    <li><a href="#">@Html.ActionLink("Equipment", "Index", "Equipment")</a></li>
                                    <li><a href="#">@Html.ActionLink("Physician Preference", "Index", "PhysicianPreference")</a></li>
                                </ul>
                            </li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="body-content navbar-fixed-bottom">
        <footer>
            <p>&copy; @DateTime.Now.Year - KnowIt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
