@model KnowIt.Models.Medication.MedicationDetail

@{
    ViewBag.Title = "Delete";
}

<div class="panel transparent">
    <div class="tablespace">
        <h2>Delete</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">
                <dt>
                    Medication Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationName)
                </dd>
                <br />
                <dt>
                    Medication Class:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationClass)
                </dd>
                <br />
                <dt>
                    Medication Use:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationUse)
                </dd>

            </dl>

        </div>
    </div>
</div>
