@model KnowIt.Models.Medication.MedicationDetail

@{
    ViewBag.Title = "Details";
}

<div class="panel panelsize" style="overflow:hidden">
    <div class="tablespace">
        <h2>Medication Details</h2>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.MedicationId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">

                <dt>
                    Medication Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationName)
                </dd>
                <br />
                <dt>
                    Medication Class:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationClass)
                </dd>
                <br />
                <dt>
                    Medication Use:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicationUse)
                </dd>

            </dl>
        </div>
    </div>
</div>
