@model IEnumerable<KnowIt.Models.Medication.MedicationListItem>

@{
    ViewBag.Title = "Index";
}

<div class="panel panelsize">
    <div class="tablespace">
        <h2>Medication Library</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-responsive table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        Medication Name
                    </th>
                    <th>
                        Medication Class
                    </th>
                    <th>
                        Medication Use
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationUse)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MedicationId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MedicationId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MedicationId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>