@model KnowIt.Models.PhysicianProcedure.PhysicianPreferenceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhysicianPreferenceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.PhysicianPreferenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicianPreferenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicianId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicianId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PhysicianLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicianLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicianFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicianFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureNote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhysicianPreferenceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
