@model IEnumerable<KnowIt.Models.PhysicianProcedure.PhysicianPreferenceListItem>

@{
    ViewBag.Title = "Index";
}
<div class="panel panelsize">
    <div class="tablespace">
        <h2><b>Physician Preference Library</b></h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <hr/>

        <table class="table table-responsive table-hover smallborder">
            <thead class="bg-primary">
                <tr>
                    <th>
                        Physician Last Name
                    </th>
                    <th>
                        Procedure
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>
                        @Html.DisplayFor(modelItem => item.PhysicianLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureName)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.PhysicianPreferenceId }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.PhysicianPreferenceId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PhysicianPreferenceId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>