@model IEnumerable<KnowIt.Models.PhysicianProcedure.PhysicianPreferenceListItem>

@{
    ViewBag.Title = "Index";
}

<div class="panel transparent">
    <div class="tablespace">
        <h2>Index</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <hr />
        <table class="table table-responsive table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PhysicianLastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcedureName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MedicationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EquipmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreferenceNote)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>
                        @Html.DisplayFor(modelItem => item.PhysicianLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcedureId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationId)
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferenceNote)
                    </td>
                    <td>@*|
                        @Html.ActionLink("Details", "Details", new { id=item.PhysicianPreferenceId }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id=item.PhysicianPreferenceId }) |
                    </td>
                </tr>
            }

        </table>
    </div>
</div>